<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css	">

    <title>Document</title>
</head>

<body>

    <header id="header" class="header-je">
        <!-- header -->
        <nav class="nav" id="hede">
            <div class="logo">
                <ul class="logo-ul">
                    <li class="logo-item "><a href="# " class="r-logo ">Pura </a><br><span href="# " class="l-logo">Agency .</span>
                    </li>
                </ul>
            </div>
            <div class="container container-header">
                <div class="row ">
                    <div class="col-xl-10 col-12 ">
                        <ul class="nav justify-content-center">
                            <li class="nav-item ">
                                <a href="#" class="nav-link ">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a href="#about-s" class="nav-link ">About</a>
                            </li>
                            <li class="nav-item ">
                                <a href="#team-s" class="nav-link ">Team</a>
                            </li>
                            <li class="nav-item ">
                                <a href="#cta1-s" class="nav-link ">Services</a>
                            </li>
                            <li class="nav-item ">
                                <a href="#cta2-s" class="nav-link ">Work</a>
                            </li>
                            <li class="nav-item ">
                                <a href="#services-s" class="nav-link ">Clients</a>
                            </li>
                            <li class="nav-item ">
                                <a href="#footer-s" class="nav-link ">Contact</a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-xl-2 col-12 ">
                        <ul class="social justify-content-center ">
                            <li>
                                <a class="link" href="#"> <i class="fa fa-facebook "></i></a>
                            </li>
                            <li> <a class="link" href="#"><i class="fa fa-twitter "></i></a></li>
                            <li><a class="link" href="#"><i class="fa fa-google-plus "></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="hero ">
            <h2>We are Pure</h2>
            <h1>Popular web development agency.</br>Discover more possibilites of your website. </h1>
            <div class="d-grid gap-2 col-1 mx-auto ">
                <button type="button " class="btn btn-primary ">Discover us.</button>
            </div>
        </div>

    </header>
    <section id="about-s" class="about ">
        <div class="container ">
            <div class="row ">
                <div class="col-xl-11 col-12 ">
                    <h1>About us.</h1>
                    <p>Pura comes with 11 unique and stunning demos. We have crafted each and every demo with extensive care and precision and the theme is power packed yet easy to use.</p>
                </div>
            </div>
            <div class="d-grid gap-4 d-md-flex justify-content-md-end ">
                <a class="btn btn-primary btn-lg btn-block py-3 px-5 me-lg-2 rounded-pill border-white text-center " href="# " role="button ">Portfolio	&#8594;</a>
            </div>
        </div>
    </section>

    <!-- process -->
    <section id="process-s " class="process ">
        <div class=" container process-container ">
            <div class="row no-gutters ">
                <div class="col-lg-4 col-md-6 text-md-left ">
                    <div class="process-number number-1 ">
                        <div class="col-lg-8">
                            <h3 class="process-title ">Awesome Design</h3>
                            <div class="process-content ">
                                <p>Proin facilisis varius nunc. Curabitur eros risus, ultrices et dui ut, luctus accumsan nibh. Fusce convallis sapien placerat tellus suscipit vehicula.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-md-left ">
                    <div class="process-number number-2 ">
                        <div class="col-lg-8">
                            <h3 class="process-title ">New Idea’s</h3>
                            <div class="process-content ">
                                <p>Proin facilisis varius nunc. Curabitur eros risus, ultrices et dui ut, luctus accumsan nibh. Fusce convallis sapien placerat tellus suscipit vehicula.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-md-left ">
                    <div class="process-number number-3 ">
                        <div class="col-lg-8">
                            <h3 class="process-title ">Trending</h3>
                            <div class="process-content ">
                                <p>Proin facilisis varius nunc. Curabitur eros risus, ultrices et dui ut, luctus accumsan nibh. Fusce convallis sapien placerat tellus suscipit vehicula.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team -->
    <section id="team-s" class="team ">
        <div class="container ">
            <h1>Out Team.</h1>
            <div class="row ">
                <div class="col-lg-4 col-12 ">
                    <div class="team-hero-content ">
                        <img class="img " src="./img/Layer 4.png " alt=" ">

                        <div class="team-content-wraper ">
                            <h1 class="name ">Mark John</h1>
                            <h2 class="position ">Developer</h2>
                            <div class="team-social align-items-center justify-content-center ">
                                <a class="team-social-icon " href=" "><i class="fa fa-facebook "></i></a>
                                <a class="team-social-icon " href=" "><i class="fa fa-twitter "></i></a>
                                <a class="team-social-icon " href=" "><i class="fa fa-google-plus "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 ">
                    <div class="team-hero-content ">
                        <img class="img " src="./img/Layer 5.png " alt=" ">
                        <div class="team-content-wraper ">
                            <h1 class="name ">Sarah Levo</h1>
                            <h2 class="position ">Designer</h2>
                            <div class="team-social align-items-center justify-content-center ">
                                <a class="team-social-icon " href=" "><i class="fa fa-facebook-f "></i></a>
                                <a class="team-social-icon " href=" "><i class="fa fa-twitter "></i></a>
                                <a class="team-social-icon " href=" "><i class="fa fa-google-plus "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 ">
                    <div class="team-hero-content ">
                        <img class="img " src="./img/Layer6.png " alt=" ">
                        <div class="team-content-wraper ">

                            <h1 class="name ">Xavi Miko</h1>
                            <h2 class="position ">CEO</h2>
                            <div class="team-social align-items-center justify-content-center ">
                                <a class="team-social-icon " href=" "><i class="fa fa-facebook-f "></i></a>
                                <a class="team-social-icon " href=" "><i class="fa fa-twitter "></i></a>
                                <a class="team-social-icon " href=" "><i class="fa fa-google-plus "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- cta1 -->
    <div id="cta1-s" class="cta1 ">

        <div class="row">
            <div class="col-lg-7 col-12 ">
                <img src="./img/Layer7.png " alt=" ">
            </div>
            <div class="col-lg-5 col-12 ">

                <div class="col-lg-9 ">
                    <h2>Innovative solutions to boost your creative</h2>
                    <h2 class="title ">projects</h2>
                </div>
                <div class="col-lg-10 ">
                    <p>Proin ex orci, feugiat sit amet diam ac, tincidunt imperdiet urna.Donec sed quam at tortor aliquam rutrum sit amet tempus enim. Fusce consectetur lorem eu tellus semper ornare. Nullam purus leo, imperdiet eget tempus a, mattis vitae
                        eros.
                    </p>
                    <button type="button " class="btn btn-primary ">Discover us.</button>
                </div>

            </div>

        </div>
    </div>
    <!-- cta2 -->
    <section id="cta2-s" class="cta2">

        <div class="container ct2-container ">
            <div class="row ">
                <div class="col-lg-6 col-12 ">
                    <h1 class="title ">More possibilites
                        <h1> for your next
                            <spam>website.</spam>
                        </h1>

                    </h1>
                    <div class="col-lg-10 ">

                        <div class="website-content ">
                            <p>
                                Proin ex orci, feugiat sit amet diam ac, tincidunt imperdiet urna.Donec sed quam at tortor aliquam rutrum sit amet tempus enim. Fusce consectetur lorem eu tellus semper ornare. Nullam purus leo, imperdiet eget tempus a, mattis vitae eros.
                            </p>
                            <p>
                                Proin ex orci, feugiat sit amet diam ac, tincidunt imperdiet urna.Donec sed quam at tortor aliquam.
                            </p>
                        </div>
                    </div>


                </div>

                <div class="col-lg-5 offset-lg-1 ">
                    <div class="website-wraper-img ">
                        <div class="layer-1 "></div>
                        <img src="img/Layer 12.png " alt="men " class="layer layer-2 ">
                        <img src="img/Layer 13.png " alt="wach " class="layer layer-3 ">
                        <img src="img/Layer 11.png " alt="organik " class="layer layer-4 ">
                        <img src="img/Layer10.png " alt="wood wach " class="layer layer-5 ">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services -->
    <div id="services-s" class="services">
        <div class="container services-container ">
            <div class="services-title ">
                <div class="col-lg-6">
                    <h2>Suite of features that make Pura one of the best agency on <span>2017.</span></h2>
                </div>

            </div>
            <div class="services-feature-light ml-xl-5 ">
                <div class="col-lg-8">
                    <i class="fa fa-lightbulb-o feature-icon "></i>
                    <h4 class="feature-title ">Unique layouts</h4>
                    <div class="feature-content ">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type .</p>
                    </div>
                </div>

            </div>
            <div class="services-feature-flash ">
                <div class="col-lg-8">
                    <i class="fa fa-bolt feature-icon "></i>
                    <h4 class="feature-title ">New features</h4>
                    <div class="feature-content ">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type .</p>
                    </div>
                </div>

            </div>
            <div class="services-content ">
                <div class="col-lg-8">
                    <p>Proin ex orci, feugiat sit amet diam ac, tincidunt imperdiet urna.Donec sed quam at tortor aliquam rutrum sit amet tempus enim. Fusce consectetur lorem eu tellus semper ornare. Nullam purus leo,imperdiet eget tempus.</p>
                </div>

            </div>
            <div class="services-pc ml-xl-5 ">
                <div class="col-lg-8">
                    <i class="fa fa-tv feature-icon "></i>
                    <h4 class="feature-title ">Responsive design</h4>
                    <div class="feature-content ">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type .</p>
                    </div>
                </div>

            </div>
            <div class="services-infinite ">
                <div class="col-lg-8">
                    <p class="icon-infi ">&infin;</p>
                    <h4 class="feature-title ">And more & more ...</h4>
                    <div class="feature-content ">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type .</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer" id="footer-s">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 ">
                    <div class="col-lg-9">
                        <a href="/ " class="footer-logo ">Pura</a>
                        <span id="footer-sub-logo ">Agency.</span>
                        <div class="footer-content ">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type .</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 ">
                    <div class="col-lg-10">
                        <h4 class="footer-title ">Twitter feed</h4>
                        <span class="footer-subtitle ">New Ui Kit</span>
                        <span class="footer-twitter-mail "><p>@themeptation</p></span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book</p>
                    </div>

                </div>
                <div class="col-lg-3 ">
                    <div class="col-lg-10">
                        <h4 class="footer-title ">Who we are</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <div class="footer-contact ">
                            <div class="footer-email ">
                                <i class="fa fa-envelope-o footer-icon "></i>
                                <p>support@themeptation.com</p>
                            </div>

                            <div class="footer-tel "><i class="fa fa-phone footer-icon "></i>
                                <p>+001-123-456-7890</p>
                            </div>
                        </div>
                        <div class="footer-social ">
                            <div class="social d-flex ">
                                <a href="#"><i class="fa fa-facebook-f footer-social-icon "></i></a>
                                <a href="#"><i class="fa fa-twitter footer-social-icon "></i></a>
                                <a href="#"><i class="fa fa-google-plus footer-social-icon "></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row ">
                <div class="col text-center ">
                    <div class="footer-copiring ">
                        <p>©2017 with love by themeptation</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="./scripts.js"></script>
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
</body>


</html>